KERNEL=="ttyUSB?", DRIVERS=="usb", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0f3d|1199", ATTRS{idProduct}=="68a3|68aa", SYMLINK+="sierra.wwan.%n"
KERNEL=="wwan0", SUBSYSTEM=="net", ATTRS{idVendor}=="0f3d|1199", ATTRS{idProduct}=="68a3|68aa", RUN+="/usr/local/bin/sierra-state"
